# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Database files
database.sqlite
*.sqlite3
*.db

# Logs
logs/
*.log

# Cache y archivos de compilación
.cache/
dist/
build/

# IDE y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db
